extends base.pug

block scripts
  script(src='/static/index.js')

block style 
    style
      include ../static/style.css
      include ../static/styleContact.css

block content
    div.container
        h1 About this site
            h3 This website is just a project made by me(Pawan).
            h3 Send your concern to us in Contact Section.