//- index.pug
doctype html
html
  head
    title Dance Academy
    style
      include ../static/style.css
  body
    nav#navbar.top.firstClass.secondClass
        ul
            div#logo
                img(src="/static/img/images.png", alt="Dance Academy")
                | DA
            li
                a(href="/")  Home
            li
                a(href="/about")  About
            li
                a(href="/services")  Services
            li
                a(href="/information") Information
            li
                a(href="/contact") Contact
    section#introSection 
        div Welcome to Dance Academy
        div.small Let's Dance
    section#missionSection 
        h2 Our Mission
        div.card
            h3 Modern Dance
            div.card-box
                div.card-img
                    img(src="/static/img/download.png", alt="Image can't be loaded")
                div.card-content
                    p You can learn Modern Dance here.
        div.card
            h3 Classical Dance
            div.card-box
                div.card-img
                    img(src="/static/img/cd.jpg", alt="Image can't be loaded")
                div.card-content
                    p You can learn Classical Dance here.
        div.card
            h3 Traditional Dance
            div.card-box
                div.card-img
                    img(src="/static/img/download_1.png", alt="Image can't be loaded")
                div.card-content
                    p You can learn Traditional Dance here.
    section#sponsorsSection 
        h2 Our Sponsors
        div#sponsors
            img(src="/static/img/sponsor2.png", alt="Sponsors Image can't be loaded" class="sp-img")
            img(src="/static/img/sponsor.png", alt="Sponsors Image can't be loaded" class="sp-img")
            img(src="/static/img/microsoft.png", alt="Sponsors Image can't be loaded" class="sp-img")
            img(src="/static/img/hp.png", alt="Sponsors Image can't be loaded" class="sp-img")
            img(src="/static/img/skype.png", alt="Sponsors Image can't be loaded" class="sp-img")
    footer#footer
        | Copyright © 2022 DanceAcademy.com. | All rights are reserved by Pawan Yadav.
    script
      include ../static/index.js